<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Journal</title>
    <link rel="stylesheet"  href="journal.css">
    
</head>
<body>
        <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                            <nav class="navbar">
                                    <div class="container-fluid">
                                      <div class="navbar-header">
                                            <img class="img" src="j5.png" />
                                           <a class="name">Springles</a>
                                      </div>
                                      <ul class="nav navbar-nav" id="navy">
                                       <li><form class="form-inline" id="up">
                                            <input class="form-control mr-sm-2" type="text" /> 
                                            <button class="btn btn-inverse my-2 my-sm-0" type="submit">
                                                Search
                                            </button>
                                            </form>
                                        </li>
            
                                        <li class="dropdown" id="up">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cart <span class="glyphicon glyphicon-shopping-cart"></span> 
                                            </a> 
                                            <ul class="dropdown-menu">
                                                <li><a href="#">Book and Journals</a></li>
                                                <li><a href="#">Research Papers</a></li>
                                                <li><a href="#">Author Webshop</a></li>
                                            </ul>
                                        </li> 
                                        <li class="dropdown" id="up">
                                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu <span class="glyphicon glyphicon-list"></span> 
                                            </a> 
                                            <ul class="dropdown-menu">
                                                    <li><a href="index.html">Home</a></li>
                                                <li><a href="#">Services</a></li>
                                                <li><a href="#">Shop & Research</a></li>
                                                <li><a href="#">About Us</a></li>
                                            </ul>
                                        </li> 
                                        
                                      </ul>
                                    </div>
            
                            </nav>
                    </div>
                </div>
            </div>
            <div class="container" id="ln">
                <a href="index.html">Home</a><span class="glyphicon glyphicon-chevron-right"></span>
                <a href="index.html">Subjects</a><span class="glyphicon glyphicon-chevron-right"></span>
                <a href="lang.html">Language & Literature</a><span class="glyphicon glyphicon-chevron-right"></span>
                <a href="hindlang.html">Hindi</a><span class="glyphicon glyphicon-chevron-right"></span>
                <a href="hindi.html">Hindi Editorial Board</a>


            </div>
<div class="text-center">
   <h1>Editorial Board/संपादकीय मंडल</h1> 

 <p>Editor in Chief/प्रधान संपादक <br>
    प्रो. करुणाशंकर उपाध्याय    <br>
    मुंबई विश्वविद्यालय,मुंबई,भारत  <br>
    मो.91-9167921043\9869511876 <br>
    ईमेल:dr.krupadhyay@gmail.com</p>   



<p>Editors/संपादक   <br>
        डॉ. आलोक रंजन पांडेय <br>
        हिंदी विभाग,रामानुजन महाविद्यालय, <br>
        दिल्ली विश्वविद्यालय,दिल्ली <br>
        9540572211 <br>
        ई-मेल :</p> 
<p>Associate Editors    <br>
        1.डॉ. सुधांशु कुमार शुक्ल <br>
           पोलैंड</p>

<p>2. डॉ. द्विवेदी आनंद प्रकाश शर्मा <br>
        उतरी कोरिया</p>

<p>3. डॉ. सचिन गोपाट    <br>
        सहायक प्राध्यापक, हिंदी विभाग <br>
        मुंबई विश्वविद्यालय,भारत <br>
     मो.91-9423641663\9689657974 <br>
     ई-मेल dr.sachingapat@gmail.com</p>

<p>4. डॉ. तोमोको किकुची <br>
        प्रख्यात लेखिका व अनुवादक, फुगुशिमा,जापान <br>
        9810101660 <br>
      ई-मेल : indtmc@gmail.com</p>


<p>5. डॉ.रामेश्वर सिंह <br>
        अध्यक्ष,भारत रूस मैत्री संघ,मास्को,रूस <br>
      मो.+79853413859 <br>
      ई-मेल : dishainrus@gmail.com</p>

</div>


</body>
</html>