<!DOCTYPE html>
<html lang="IN-bn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Journal</title>
    <link rel="stylesheet"  href="journal.css">
    
</head>
<body>
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
                <nav class="navbar">
                        <div class="container-fluid">
                          <div class="navbar-header">
                                <img class="img" src="j5.png" />
                               <a class="name">Springles</a>
                          </div>
                          <ul class="nav navbar-nav" id="navy">
                           <li><form class="form-inline" id="up">
                                <input class="form-control mr-sm-2" type="text" /> 
                                <button class="btn btn-inverse my-2 my-sm-0" type="submit">
                                    Search
                                </button>
                                </form>
                            </li>

                            <li class="dropdown" id="up">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Cart <span class="glyphicon glyphicon-shopping-cart"></span> 
                                </a> 
                                <ul class="dropdown-menu">
                                    <li><a href="#">Book and Journals</a></li>
                                    <li><a href="#">Research Papers</a></li>
                                    <li><a href="#">Author Webshop</a></li>
                                </ul>
                            </li> 
                            <li class="dropdown" id="up">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Menu <span class="glyphicon glyphicon-list"></span> 
                                </a> 
                                <ul class="dropdown-menu">
                                        <li><a href="index.html">Home</a></li>
                                    <li><a href="#">Services</a></li>
                                    <li><a href="#">Shop & Research</a></li>
                                    <li><a href="#">About Us</a></li>
                                </ul>
                            </li> 
                            
                          </ul>
                        </div>

                </nav>
        </div>
    </div>
</div>
<div class="container" id="ln">
        <a href="index.html">Home</a><span class="glyphicon glyphicon-chevron-right"></span>
        <a href="index.html">Subjects</a><span class="glyphicon glyphicon-chevron-right"></span>
        <a href="lang.html">Language & Literature</a>
         
        <li class="dropdown" id="upi">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="lng">Select Your Language<span class="glyphicon glyphicon-chevron-down" id="spn"></span>
            </a> 
            <ul class="dropdown-menu" id="dd">
                <li class="lg"><a href="hindlang.html">Hindi</a></li>
                <li class="lg"><a href="#">English</a></li>
                <li class="lg"><a href="#">Marathi</a></li>
                <li class="lg"><a href="#">Telugu</a></li>
                <li class="lg"><a href="#">Kannada</a></li>
                <li class="lg"><a href="#">Malyalam</a></li>
                <li class="lg"><a href="#">Urdu</a></li>
                <li class="lg"><a href="#">Bengali</a></li>
                <li class="lg"><a href="#"></a></li>
                <li class="lg"><a href="#">Telugu</a></li>
                <li class="lg"><a href="#">Telugu</a></li>
                <li class="lg"><a href="#">Telugu</a></li>
                

            </ul>
        </li> 
            <div class="container" id="d1">
                <div class="row">
                    <div class="col-md-4">
                        <img src="i2.jpg" class="h">
                    </div>
                    <div class="col-md-8">
                        <h1 class="lan">Language & Literature</h1>
                        <h4 class="lan">Managing Editor-in-chief : M.antiquezzam</h4>
                        <span class="glyphicon glyphicon-chevron-right"></span><a href="#" class="v">View Editorial Board</a>
                    </div>
                </div>
            </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                                <div id="mySidenav" class="sidenav">
                                        <a href="login.html" id="about">Submit Your Papers</a>
                                        <a href="#" id="blog">View Articles</a>
                                        <a href="#" id="projects">Track Your Paper</a>
                                        <a href="#" id="contact">Order journal</a>
                                </div>
                        </div>
                        <div class="col-md-8">
                        <p><span class="st">The Journal of Language and Literature</span>  welcomes research contributions, surveys and notes in all areas relating to computer networks and applications thereof. 
                            The following list of sample-topics is by no means to be understood as restricting contributions to the topics mentioned:</p>
                            <ul>
                                <li class="nt">new design techniques, interesting or novel applications, components or standards</li>
                                <li class="nt">computer networks with tools such as WWW</li>
                                <li class="nt">emerging standards for internet protocols</li>
                                <li class="nt">Wireless networks</li>
                                <li class="nt">emerging computing models such as cloud computing, grid computing</li>
                                <li class="nt">emerging network protocols such as sensor networks, delay tolerant networks, Internet of things</li>
                                <li class="nt">applications of networked systems for remote collaboration and telemedicine</li>
                                <li class="nt">applications of an educational, transactional and cooperational nature</li>
                                <li class="nt">applications of security in computer and networks</li>
                            </ul>
                            <h3>Benefits to Authors</h3>
                            <p>We also provide many author benefits, such as free PDFs, a liberal copyright policy, special discounts on Elsevier publications and much more. Please click here for more information on our author services.

                                    Please see our Guide for Authors for information on article submission. If you require any further information or help, please visit our Support Center</p>
                        </div>
                    </div>
                </div>

</div>


</body>
</html>